
<div>
  <center>
    <img height="500 px"src = 'http://forums.warriorcats.com/fileSendAction/fcType/5/fcOid/370170407062063997/fodoid/370170407062063994/imageType/LARGE/inlineImage/true/ninja_cat_by_orbins-d70u29j.png'>
    <h1>Battle will begin shortly, enter thy name</h1>

    <form action="/names" method="post">
      <p>Battle-cat 1: <input type="text" name="player_1_name"></p>
      <p>Battle-cat 2: <input type="text" name="player_2_name"></p>
      <input type="submit" value="Huzzah mothafucka!">
    </form>

  </center>
</div>
